[Unit]
Description=Mosquitto Container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect mosquitto 2> /dev/null || /usr/bin/docker run -d --name mosquitto --privileged -p 1883:1883 -p 9001:9001 eclipse-mosquitto"
ExecStart=/usr/bin/docker start -a mosquitto
ExecStop=/usr/bin/docker stop -t 10 mosquitto

[Install]
WantedBy=multi-user.target