influxdb:
  host_url: '{{influx_db_host}}'
  port: 8086
  username: '{{influx_db_username}}'
  password: '{{influx_db_password}}'

envoy:
  influx_database: 'energy'
  host_url: 'envoy.local'

speedtest:
  influx_database: 'isp'
