server_names_hash_bucket_size  64;

{% for host_pair in proxy_vhost_map %}
server {
    listen 80;
    server_name {{ host_pair[0] }};

    location / {
        proxy_pass {{ host_pair[1] }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
{% endfor %}