# {{ ansible_managed }}
---
version: "3"
services:
  grafana: 
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,briangann-gauge-panel,natel-plotly-panel,grafana-simple-json-datasource
    user: "0"
    volumes:
      - ./grafana:/var/lib/grafana