
{
    "bridge": {
        "name": "Homebridge",
        "username": "{{homebridge_username}}",
        "port": 51826,
        "pin": "{{homebridge_pin}}"
    },
    "description": "Homebridge",
    "accessories": [],
    "platforms": []
}
